.headerContainer{
  background-color: #fef6e4;
}

.navContainer{
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aLink{
  color: #001858;
  font-weight: 700;
  text-decoration: none;
}

.cartWidgetContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartIcon{
  width: 5rem;
}

.cartCounter{
  color: blueviolet;
  font-size: 1rem;
  font-weight: 500;
}

.h1Greeting{
  text-align: center;
  color: #001858;
}

.pTexto{
  text-align: center;
  color: #172c66;
}

.cardimage{
  max-width: 350px;
  max-height: 375px;
}

.cardsContainer{
  display: flex;
  flex-direction: row;
}